body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #050505;
    color: rgb(255, 0, 0);
}

.hero {
    background-image: url("images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    color: black;
}

.topbar {
    background: #333;
    color: pink;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    background: #0078ff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
