body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: black;
}

.hero {
    padding: 10px;
    text-align: center;
    color: black;
}

.topbar {
    background: #333;
    color: pink;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    text-align: center;
}

.profile-img {
    width: 150px;
    border-radius: 10%;
}


.btn {
    padding: 10px 20px;
    background: #0078ff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

