body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.hero {
    background-image: url("images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    color: black;
}

.topbar {
    background: #333;
    color: pink;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding: 40px;
    text-align: center;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.wide-img {
    width: 100%;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background: #0078ff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
